
.site-header {
	background-color: #fff;

	height: 77px;
	position: fixed;
    top: 0;
	width: 100%;
	z-index: 999;
}

#body-wrap {
    position: relative;
    margin: 0 auto;
    top: 77px;
    background-color: black;
    color: #fff;
    width: 80%;
    height: 100vh;
    
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }
  
  
  body {
  
    font-size: 1rem;
  
  
    color: #2E2E2E;
    margin: 0;
  
  
  
  }
  
